/* --------------------------------

Primary style

-------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,700,700italic,900,600italic);


*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Titillium Web', sans-serif;
  color: #0f594d;
  background-color: #f2e6cd;
}
@media only screen and (min-width: 1048px) {
  body {
    /* hide horizontal scroll bar in IE */
    overflow-x: hidden;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

li {
    display: inline;
}

/* --------------------------------

Main Components

-------------------------------- */

#scroller {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}
#scroller li {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

#scroller li:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  bottom: -3px;
  height: 4px;
  background-color: rgb(255, 0, 0);
  content: "";
  transition: width 0.2s;
}
#scroller li:hover {
  color: rgb(255, 0, 0);
}
#scroller li:hover:after {
  width: 100%;
}

#scroller li.sel a{
    color:rgb(255, 0, 0);
    border-bottom: 2px solid rgb(255, 0, 0);
}

.launch img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

p.launch {
    word-spacing: 3px;
}

span.githubber {
    margin-left: 40px;
}

.logo {
    position: fixed;
    left: 5%;
    background-color: white;
    width: 50px;
    text-align: center;
    padding: 10px;
    z-index: 99
}

.logo img {
    width: 20px;
}

.me {
    position: fixed;
    top: 20px;
    right: 5%;
    color: white;
    z-index: 99;
}

.bottomelements {
    position: fixed;
    bottom: 40px;
    left: 10%;
    color: white;
    word-spacing: 30px;
    z-index: 99;
    font-size: 12px;
}

p.scroller {
    margin-bottom: 10px;
}

.rotateholder {
    width: 100%;
    height: 100%;
    position: absolute;
}

.browser {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-attachment: fixed;
    background-position: right 5% bottom 19%;
    z-index: 15;
}

.browser.backbrow1 {
    background-image: url("../img/testimage1.png");
}

.browser.backbrow2 {
    background-image: url("../img/testimage.png");
}
.browser.backbrow3 {
    background-image: url("../img/testimage1.png");
}
.browser.backbrow4 {
    background-image: url("../img/testimage.png");
}


.gear {
    background: url("../svg/circles.svg");
    position: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    width: 500px;
    height: 500px;
    right: 8%;
    top: 20%;
}

.applogo img {
    width: 100%;
}
.applogo {
    width: 20%;
    display: block;
    float: right;
    right: 0;
    margin-bottom: 30px;
}

h2{
    clear: right
}
@media only screen and (min-width: 768px) {
  .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300;
  }
}

.cd-fixed-background {
  position: relative;
  padding: 3em 5% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cd-fixed-background h2, .cd-fixed-background p {
  color: #f2e6cd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-fixed-background h2 {
  font-size: 2.4rem;
  margin-bottom: 1em;
}
.cd-fixed-background p {
  line-height: 1.6;
  font-family: 'Titillium Web', sans-serif;
}
.cd-fixed-background .light-background h2, .cd-fixed-background .light-background p {
  color: #0f594d;
}
.cd-fixed-background .cd-content::after {
  /* phone image on small devices */
  content: '';
  display: block;
  width: 100%;
  padding: 60% 0;
  margin: 2em auto 0;
}
.cd-fixed-background.img-1 {
  background-color: #bf5138;
}

.cd-fixed-background.img-1 .cd-content::after {
  background-size: 100% auto;
}
.cd-fixed-background.img-2 {
  background-color: #f2e6cd;
}
.cd-fixed-background.img-2 .cd-content::after {
  background-size: 100% auto;
}
.cd-fixed-background.img-3 {
  background-color: #0f594d;
}
.cd-fixed-background.img-3 .cd-content::after {
  background-size: 100% auto;
}
.cd-fixed-background.img-4 {
  background-color: #db9537;
}
.cd-fixed-background.img-4 .cd-content::after {
  background-size: 100% auto;
}
@media only screen and (min-width: 768px) {
  .cd-fixed-background {
    height: 100%;
    padding: 0;
  }
  .cd-fixed-background h2 {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: right;
    letter-spacing: 12px;
        text-transform: uppercase;
        padding-bottom: 30px;
        border-bottom: 10px solid;
  }
  .cd-fixed-background p {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .cd-fixed-background .cd-content {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 46%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
  }
  .cd-fixed-background .cd-content::after {
    display: none !important;
  }
  .browser .cd-content::after {
    display: none !important;
  }

}
@media only screen and (min-width: 1048px) {
  .cd-fixed-background {
    background-attachment: fixed;
  }
  .cd-fixed-background .cd-content {
    width: 40%;
    left: 5%;
  }
}

.cd-vertical-nav {
  position: fixed;
  z-index: 30;
  left: 5%;
  bottom: -5px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(../img/cd-icon-arrow.svg) no-repeat center center;
  -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0.2s 0s;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1200px) {
  .cd-vertical-nav {
    display: block;
  }
}

.no-js .cd-vertical-nav {
  display: none;
}
