.browser.backbrow1 {
    background-image: url("../img/venge_players.png");
}

.browser.backbrow2 {
    background-image: url("../img/venge_loading.png");
}
.browser.backbrow3 {
    background-image: url("../img/venge_charts.png");
}
.browser.backbrow4 {
    background-image: url("../img/venge_developer.png");
}

.cd-fixed-background.img-1 {
    background-color: #bf5138;
}
.cd-fixed-background.img-1 .cd-content::after {
    background-size: 100% auto;
}
.cd-fixed-background.img-2 {
    background-color: #f2e6cd;
}
.cd-fixed-background.img-2 .cd-content::after {
    background-size: 100% auto;
}
.cd-fixed-background.img-3 {
    background-color: #0f594d;
}
.cd-fixed-background.img-3 .cd-content::after {
    background-size: 100% auto;
}
.cd-fixed-background.img-4 {
    background-color: #db9537;
}
.cd-fixed-background.img-4 .cd-content::after {
    background-size: 100% auto;
}

.cd-fixed-background .light-background h2, .cd-fixed-background .light-background p {
    color: #0f594d;
}

.gear {
    background: url("../svg/circles.svg");
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 30%;
    height: 500px;
    right: -73px;
    bottom: 20%;
}
